<form role="form" method="POST" action="/nametags/create">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter phone">
  </div>
  <div class="form-group">
    <label for="nametag_content">Name</label>
    <input type="text" class="form-control" name="nametag_content" id="nametag_content" placeholder="Enter nametag content">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
