
<div class="page-header">
    <h1>提取地點</h1>
</div>

<h3>地址：</h3>
<address>
  <strong>聖若瑟大學</strong><br>
  澳門外港新填海區<br>
  倫敦街十六號，三樓<br>
  電腦部<br>

</address>

<h3>辦公室地點：</h3>
<img src="/images/itoffice_location.gif" alt="辦公室地點">